# ENUM_BANK의 주소를 transferwise 에서 가져오는 Crawler
## 수정해야 하는 곳
### 3번셀에서 csv파일명 수정
### 5번셀에서 크롬드라이버의 경로

## 필요한 라이브러리들 인젝션

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import json
import pandas as pd
import re
import time

## 셀레늄에 헤더정보 설정 및 헤더리스 설정

In [2]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('headless')
chrome_options.add_argument('window-size=1920x1080')
chrome_options.add_argument("disable-gpu")
chrome_options.add_argument("user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36")
chrome_options.add_argument("lang=ko_KR") # 한국어!

## GIVEN
### transferwise 에서 csv에 있는 은행명으로 검색할 수 있도록 준비

In [3]:
# 크롤링할 csv 파일 만들어서 이곳에서 교체
target_country = 'Bangladesh'
df_bank = pd.read_csv(target_country + '-Bank.csv')
target_list = df_bank.descr

In [4]:
target_list

0                    Mutual Trust Bank
1                          Agrani Bank
2                Al-Arafah Islami Bank
3                              AB Bank
4                      Bangladesh Bank
5             Bangladesh Commerce Bank
6               Bangladesh Krishi Bank
7             Bangladesh Samabaya Bank
8          Bangladesh Development Bank
9                           Basic Bank
10                           BRAC Bank
11                       Bank Al-Falah
12                           Bank Asia
13                           CITI Bank
14           Commercial Bank of Cyclon
15                          Dhaka Bank
16                   Dutch-Bangla Bank
17                        Eastern Bank
18                           EXIM Bank
19          First Security Islami Bank
20                          Habib Bank
21    HongKong & Shanghai Banking Corp
22                           IFIC Bank
23              Islami Bank Bangladesh
24                         Jamuna Bank
25                         Janata Bank
26                     Mercantile Bank
27                       National Bank
28           National Bank of Pakistan
29     National Credit & Commerce Bank
30                            One Bank
31                          Prime Bank
32                         Pubali Bank
33        Rajshahi Krishi Unnayan bank
34                         Rupali Bank
35               Shahjalal Islami Bank
36                  Social Islami Bank
37                         Sonali Bank
38                      SouthEast bank
39                       Standard Bank
40             Standard Chartered Bank
41                 State Bank of India
42                       The City Bank
43                    ICB Islamic Bank
44                    The Premier Bank
45                          Trust Bank
46              United Commercial Bank
47                         Uttara Bank
48                          Woori Bank
49                 NRB Commercial Bank
50                          Union Bank
51                           SBAC Bank
52                         Meghna Bank
53                    The Farmers Bank
54                        Midland Bank
55                            NRB Bank
56                      Modhumoti Bank
57                     NRB Global Bank
58                       Shimanto Bank
Name: descr, dtype: object

## 사전 테스트

In [5]:
driver = webdriver.Chrome('/Users/arthur/pywork/chromedriver', options=chrome_options)
driver.get('https://transferwise.com/gb/swift-codes/banks?country=0&city=0&name=THE+TOHOKU+BANK')
soup = BeautifulSoup(driver.page_source,'html.parser')

In [6]:
tmp_bank = soup.select('div div div div div div ul li div a')
tmp_addr = soup.select('div div div div div div ul li small span')

print(tmp_bank[0].text, ' : ', tmp_addr[1].text)

The Tohoku Bank, Ltd  :  3-1 Uchimaru Morioka 020 0023,

## WHEN

In [7]:
addr = []
bank = []
url = 'https://transferwise.com/gb/swift-codes/banks?country=313&city=0&name='
for idx, bank_name in enumerate(target_list) :
    print(idx)
    tmp_str = url + bank_name
    driver.get(tmp_str)
    soup = BeautifulSoup(driver.page_source,'html.parser')
    bank.append(soup.select('div div div div div div ul li div a')[0].text)
    addr.append(soup.select('div div div div div div ul li small span')[1].text)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58

In [9]:
result = {'bank':bank, 'descr':target_list, 'addr':addr}
df_result = pd.DataFrame(result)
df_result.head()

,bank,descr,addr
0,Mutual Trust Bank Limited,Mutual Trust Bank,"37 Agrabad C/a Chittagong,"
1,Agrani Bank Limited,Agrani Bank,"Agrani Bank Bhavan 1000 Dhaka,"
2,Al-arafah Islami Bank Ltd.,Al-Arafah Islami Bank,"Rahman Mension 1000 Dhaka,"
3,Agrani Bank Limited,AB Bank,"Agrani Bank Bhavan 1000 Dhaka,"
4,Bangladesh Krishi Bank,Bangladesh Bank,"Krishi Bank Bhaban 1000 Dhaka,"

In [10]:
df_result.to_csv(target_country + '.csv', header=False, index=False)